/* /* style file for zoo website, 
new feature branch not created as the css file 
is not a separate web page */

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  background-color: lightpink;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 20pt;
  margin: 20px 50px 30px 50px;
}

p {
  width: 80%;
  text-align: left;
  margin: 10px 50px;
}

button {
  font-size: 12pt;
  background-color: pink;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin: 20px 50px;
}

button:hover {
  background-color: #d4d0d7;
  cursor: pointer;
}

